.weather-info {
    height: 100vw;
    padding: 5vw 4vw;
}

.temperature-scale {
    padding: 0 0 3rem;
}

.carousel {
    display:flex;
    justify-content: space-between;
}

.temperature-container {
    display:flex;
    justify-content: space-between;
    padding: 3rem 6rem;
}

.temperature-container > .temperature-box {
    height: 6rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.temperature-container > .empty-box {
    display: none;
}
